<div class="navbar-fixed" id="header">
	<nav class="grey darken-4" role="navigation">
	    <div class="nav-wrapper container navbar-fixed">
	      <a id="logo-container" href="#" class="brand-logo">Dorian Bramarov</a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="#header">Home</a></li>
	        <li><a href="#skills">Skills</a></li>
	        <li><a href="#projects">Projects</a></li>
	        <li><a href="#contact">Links</a></li>        
	      </ul>

	      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	    </div>
  	</nav>
</div>


        <ul id="nav-mobile" class="side-nav">
          <li><a href="#header">Home</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Links</a></li>
        </ul>



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <img src="d3.jpg" class="responsive-img z-depth-5" style="width: 200px; margin: 0 auto; display: block; border-radius: 5%;">
        <div class="row center">
            <h1 class="header center white-text text-lighten-2" style="margin-bottom: 0px; text-shadow: -1px 1px 15px #000000; margin-top: 3px;">Dorian Bramarov</h1>
          	<h4 class="header col s12 light" style="text-shadow: 0px 0px 15px #000000; font-weight: bold; margin-bottom: 20px; margin-top: 5px;">Full Stack Developer</h4>
	        <div class="row center">
	          <a href="#resume" class="btn-large waves-effect waves-light light-green lighten-1 hoverable"><span style="font-size: 20px;">Resume</span></a>
            <div id="resume" class="modal">
              <div class="modal-content center">
                <object data="Dorian-Resume.pdf" type="application/pdf" width="900px" height="1000px"></object>
              </div>
            </div>
	          <a href="Dorian-Resume.pdf" download="Dorian-Resume.pdf" class="btn-large waves-effect waves-light light-green lighten-1 hoverable"><span style="font-size: 20px;">Download</span></a>
	        </div>
        	<br><br>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="computer.jpg" alt="Unsplashed background img 1" style="width: auto; filter: brightness(60%);"></div>
  </div>
 
  <div id="skills" class="container section" style="padding-top: 0;">
    <div class="section" style="padding-top: 45px;">

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="background-color: #9ccc65; color: white;">SKILLS</h2>

            <div class="row">
            	<div class="col 12 m2 s6">
            		<img src="angularjs.png" title="AngularJS" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="aws.png" title="AWS" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="django.png" title="Django" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="flask.png" title="Flask" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="mamp.png" title="MAMP" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="mongodb.png" title="MongoDB" style="width: 90%; height: auto;">
            	</div>
            </div>
            <div class="row">
            	<div class="col 12 m2 s6">
            		<img src="nodejs.png" title="NodeJS" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="npm.png" title="NPM" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="postgres.png" title="PostgreSQL" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="python.png" title="Python" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="rails.png" title="Rails" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="ruby.png" title="Ruby" style="width: 90%; height: auto;">
            	</div>
            </div>
            <div class="row">
            	<div class="col 12 m2 s6">
            		<img src="github.png" title="GitHub" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="terminal.png" title="Terminal" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="html.png" title="HTML" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="js.png" title="JavaScript" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="css.png" title="CSS" style="width: 90%; height: auto;">
            	</div>
            	<div class="col 12 m2 s6">
            		<img src="vagrant.png"  title="Vagrant" style="width: 90%; height: auto;">
            	</div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="code1.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div id="projects" class="container section" style="padding-top: 0;">
    <div class="section" style="padding-top: 45px;">

      <div class="row">
        <div class="col s12 center">
          <h2 style="background-color: #9ccc65; color: white; padding: 5px;">PROJECTS</h2>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 center">
          <div class="card hoverable z-depth-3">
            <div class="card-image">
              <img src="exp2.png">
            </div>
            <div class="card-content">
              <span class="card-title" style="background-color: #9ccc65; color: white;">{EXP}</span>
              <p style="font-size: 20px;">MEAN project that allows users to login/register and create events for other users to join (Google maps API integration).</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/dbramarov/exp_project" target="_blank">View on Github</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 center">
          <div class="card hoverable z-depth-3">
            <div class="card-image">
              <img src="miniStore2.png">
            </div>
            <div class="card-content">
              <span class="card-title" style="background-color: #9ccc65; color: white;">Market Exchange</span>
              <p style="font-size: 20px;">MEAN project that allows users to login/register and buy/sell products with other users (AngularJS). **(UNDER CONSTRUCTION)**</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/dbramarov/miniStore" target="_blank">View on Github</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 center">
          <div class="card hoverable z-depth-3">
            <div class="card-image">
              <img src="wall.png">
            </div>
            <div class="card-content">
              <span class="card-title" style="background-color: #9ccc65; color: white;">The Wall</span>
              <p style="font-size: 20px;">Ruby on Rails project that allows users to login/register, post messages and comments on messages. **(UNDER CONSTRUCTION)**</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/dbramarov/DojoAssignments/tree/master/Ruby/Rails/the_wall" target="_blank">View on Github</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 center">
          <div class="card hoverable z-depth-3">
            <div class="card-image">
              <img src="colorpicker.png">
            </div>
            <div class="card-content">
              <span class="card-title" style="background-color: #9ccc65; color: white;">The Great RGB Color Game</span>
              <p style="font-size: 20px;">JavaScript Game that lets users guess colors based on randomly generated RGB code. (Easy and hard modes available) </p>
            </div>
            <div class="card-action">
              <a href="https://github.com/dbramarov/DojoAssignments/tree/master/WebFundamentals/Javascript/Color%20Picker%20Game" target="_blank">View on Github</a>
            </div>
          </div>
        </div>
      </div>      

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
      <div class="container">
        <div class="row center">
            <h4 style="text-shadow: 0px 0px 10px white; color: black;" class="flow-text">"First comes thought; then organization of that thought, into ideas and plans; then transformation of those plans into reality. The beginning, as you will observe, is in your imagination." - Napoleon Hill</h4>
        </div>
      </div>
    <div class="parallax"><img style="opacity: 0.4;" src="mark.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer id="contact" class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
          <h3 class="center-align white-text" style="margin-bottom: 40px; border-bottom: 4px solid white; padding-bottom: 20px; margin-top: 0;">LINKS</h3>
      </div>

      <div class="row" style="margin-bottom: 40px;">
       
          <a href="https://soundcloud.com/dorian-bramarov" target="_blank" style="color: black;">
            <div class="col m4 s12 center-align hoverable">
              <i class="material-icons white-text medium">equalizer</i>
              <h5 class="white-text">SoundCloud</h5>
            </div>
          </a>
          <a href="https://github.com/dbramarov" target="_blank" style="color: black;">
            <div class="col m4 s12 center-align hoverable">
              <i class="material-icons white-text medium">developer_mode</i>
              <h5 class="white-text">GitHub</h5>
            </div>
          </a>
          <a href="https://www.linkedin.com/in/dorianbramarov/" target="_blank" style="color: black;">
            <div class="col m4 s12 center-align hoverable">
              <i class="material-icons white-text medium">accessibility</i>
              <h5 class="white-text">LinkedIn</h5>
            </div>
          </a>
        
      </div>
    </div>

    <div class="footer-copyright grey" style="padding: 0;">
      <div class="container">
          <div class="row" style="margin-bottom: 0;">
            <p class="center-align" style="margin: 0;">Made by Dorian Bramarov 2017</p>
          </div>
      </div>
    </div>
  </footer>


